{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Will my route be cut?{% endblock %}
{% block meta %}
    {{ block.super }}
    <meta name="viewport" content="width=device-width">
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "styles/transit.css" %}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block scripts %}
    <script src="{% static "scripts/jquery.js" %}"></script>
    <script src="{% static "scripts/jquery-ui.js" %}"></script>

    <script type="text/javascript">
    $(function() {
        var availableRoutes = [
        {% for route in routes %}"{{ route.route_name }}",
        {% endfor %}
        ];
        $( "#routeSearch" ).autocomplete({
            source: availableRoutes
        });
    });
    </script>
{% endblock %}



{% block content %}
<div id="page_content">
<div id="header">
    <h1><a href="http://www.seattletimes.com" title="seattletimes.com" class="icon-st"></a><a href="">What's your route?</a></h1>
    
    <div class="clr"></div>
    <p class="chatter">King County Metro will eliminate, reduce or revise about two-thirds of its bus routes to close an expected $75 million shortfall beginning mid-2014. Will your route be affected?</p>
    <form method="get" action".">
    	<input type="text" name="q" id="routeSearch">
    	<button class="icon-search" id="submit_button"></button>
    </form>
    
    <div class="clr"></div>
</div><!-- #header -->

{% for route in selection %}
<h1 class="route_number"><span class="{{ route.get_change_display }}">{{ query }}</span></h1>

<p class="route_chatter">The {{ query }}, which runs {{ route.description }}, could be <a class="{{ route.get_change_display }}" href="">{{ route.get_change_display }}</a>.</p>
<ul class="route_links">
    <li><a href="{{ route.schedule_link }}">Schedule</a></li>
    <li><a href="{{ route.map_link }}">Map</a></li>
</ul>

{% endfor %}


<h1>King County Metro Routes</h1>

<ul class="filter_options">
  <li class="filter">Filter:</li>
  <li><a href="">Deleted</a></li>
  <li><a href="">Reduced</a></li>
  <li><a href="">Unchanged </a></li>
</ul>

<div class="clr"></div>

<table id="transit_routes">
  <thead>
    <th>Route</th>
    <th>Description</th>
    <th>Change</th>
  </thead>
  <tbody>
    {% for route in routes %}
    <tr class="{{ route.get_change_display }}">
      <td><a href="?q={{ route.route_name }}">{{ route.route_name }}</a></td>
      <td>{{ route.description }}</td>
      <td><span class="{{ route.get_change_display }}">{{ route.get_change_display }}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p class="source">Source: <a href="http://metro.kingcounty.gov/am/future/at-risk.html">King County Metro</a></p>
<p class="byline">By Jon Schleuss</p>
</div><!--#page_content-->

{% endblock %}
