/*
  Transit reductions
  A Django-powered app by Jon Schleuss for The Seattle Times
*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}



body { 
    font-family: Palatino, Georgia, serif; 
    color: #333333; 
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin: 0;
}

a { 
    color: #1e5f84;
}

p {
    font-size: 14px;
    line-height: 120%;
    margin: 0 0 10px;
}

.clr { 
    display: block;
    clear: both;
}

#page_content {
    margin: 0 5px;
}

#header {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}


#header h1 {
    float: left;
    margin: 0;
}

#header h1 a#st_logo {
    
}

#header h1 a {
    color: #000000;
    text-decoration: none;
}

/* Header form for route input */
#header form {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 160px;
}

#header form input, #header form button#submit_button {
    float: left;
    height: 40px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
}


#header input#routeSearch {
    padding: 5px;
    width: 100px;
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 5px 0 0 5px;
    font-weight: bold;
    border: 1px solid #ccc;
}

#header form button#submit_button {
    height: 52px;
    width: 29px;
    padding: 0;
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    color: #555555;
    background: #eee;
    cursor: pointer;
}

#header input#submit_button {
    width: 29px;
    height: 52px;
    background: #eeeeee;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    text-indent: -9999px;
    border-left: none;

}

#header .chatter {
    font-size: 16px;
    max-width: 600px;
    margin: 10px 0;
}

h1.route_number { 
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif; 
    margin: 20px 0; 
    text-align: center;
}

h1.route_number span {
    color: #ffffff;
    padding: 10px 10px 0px;
    line-height: 10px;
    border-radius: 7px; 
}

span.reduced, a.reduced { 
    background: #8873c3;
}

span.deleted, a.deleted {
  background: #c27373;
}

span.unchanged, a.unchanged {
  background: #919191;
}


p.route_chatter {
    max-width: 200px;
    margin: 0 auto;
    text-align: justify;
}

p.route_chatter a.reduced, p.route_chatter a.deleted, p.route_chatter a.unchanged {
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  font-family: arial;
  font-size: 12px;
  padding: 2px 5px;
  text-transform: uppercase;
  text-decoration: none;
}

ul.route_links {
    margin: 10px auto;
    font-size: 14px;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.route_links li { 
    display: inline;
}


ul.filter_options {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

ul.filter_options li {
    display: inline;
    margin: 0 5px 0 0;
}

ul.filter_options li.filter {
    font-weight: bold;
}

/* Table resets */
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
    border-spacing:0;
    border-collapse:collapse;
}

#transit_routes {
  width: 100%;
  clear: both;
  font-size: 16px;
  line-height: 120%;
  margin: 10px 0;
  border-bottom: 1px solid #EEEEEE;
}

td { 
    padding: 2px;
}

td span {
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  font-family: arial;
  font-size: 12px;
  padding: 2px 5px;
  text-transform: uppercase;
  
}

/* Zebra striping */
#transit_routes tbody tr:nth-of-type(even) { 
  background: #eee; 
}

th { 
  font-weight: bold; 
  border-bottom: 1px solid #eee;
}

td, th { 
  text-align: left; 
}

/* FONT ICONS */
.icon-search, .icon-st {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-search:before {
	content: "\e000";
}
.icon-st:before {
	content: "\e001";
}


/* For larger screens */
@media (min-width: 600px){
    #page_content {
        margin: 0 10px;
    }

    #header a#st_logo img {
        width: 50px;
    }
    #header h1 {
        font-size: 40px;
    }

    
    h1.route_number { 
        font-size: 100px;
    }
    
    td { 
        padding: 5px 2px;
    }
}

	